

<section id="circuitos" class="circuitos">
    <h1>Pistas
      <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="{%static 'image/saoBento.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-tittle">AUTÓDROMO LOURENÇO SCHREINER</h5>
            <h4 class="card-title">São Bento do Sul</h4>
        
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  </section>